.sidebarOption {
	display: flex;
	align-items: center;
	font-size: 12px;
	padding: 7px 10px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.sidebarOption:hover {
	opacity: 0.9;
	background-color: var(--slack-color-hover);
}

.sidebarOption > h3 {
	display: flex;
	align-items: center;
	font-size: 15px;
	font-weight: 500;
}

.sidebarOption > h3 > .sidebarOption__icon,
.sidebarOption > h3 > .sidebarOption__hash {
	margin-right: 10px;
	font-size: inherit;
}

.request__top__wrapper {
    position: fixed;
    top: 0%;
    right: 0%;
    font-size: 13px;
    z-index: 99999;
}

.requested__wrapper h2 {
    width: 30px;
    height: 30px;
    background: #f00;
    border-radius: 50%;
    margin: 0 6px;
}
.requested__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    margin: 10px;
    padding: 15px;
    cursor: pointer;
}
.channle__color{
    font-weight: 700;
    color: #000;
}
.requested__wrapper p {
    padding-left: 7px;
}
span.total__group__mamber {
    background: green;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transform: translateY(-17px);
}

ul.group_m_wrapper li {
    list-style: decimal;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between
    
}

ul.group_m_wrapper li button {
    margin-left: 10px;
    margin: 8px 0;
    color: #fff;
    font-weight: 600;
}
ul.group_m_wrapper li button.false{
    background: #f00;
}
ul.group_m_wrapper li button.true{
    background: green;
}